/* table style */
.table-border {
    border: 1px solid rgb(0, 0, 0);
    /* background-color: rgb(0, 0, 0); */
}
.header-border {
    color: rgb(255, 255, 255);    
    padding: 20px;
    text-align: center;
    background-color:rgb(0, 139, 139);
    border: 1px solid black;
}
.data-style {
    border: 1px solid rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    background-color: rgb(95, 158, 160);
    border: 1px solid black;
}
/* modal style */
.modal-content {
    background: rgb(135, 206, 235);
    border-radius: 15px;
}
.modal-title {
    color: slategrey;
}
.btn-btn-secondary {
    background-color: rgb(255, 0, 0);
    border: none;
}
.btn-btn-primary {
    background-color: rgb(64, 224, 208);
    border: none;
}
/* form style */
form {
    padding: 5px;
}
form div label {
    margin-right: 5px;
}